*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
    margin: 0%;
    padding: 0%;
}

nav{
    position:fixed;
    margin: 0%;
    padding: 0%;
    background-color: #fff;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.6s;
}

.nav ul{
    position:relative;
    display:flex;
    justify-content: center;
    align-items:center;
}
.nav ul li{
    position:relative;
    display:flex;
}
.nav ul li a{
    position:relative;
    display:flex;
    margin:0 15px;
    font-size:20px;
    color: #000000;


    
}
.nav ul li a:hover{
    color:#850E35

    
}
h1{
    
position: relative;
left:4px;
right: 50%;
top: 2.03%;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 76px;
line-height: 128px;
letter-spacing: 0.03em;

color: #850E35;
}
span{
position: relative;
width: 50px;
height: 50px;
left: 0px;
top: 2.03%;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 76px;
line-height: 128px;
/* identical to box height */

letter-spacing: 0.03em;

color: #000000;

opacity: 0.4;
}
button{
    color:#850E35;
    background:white;
    padding:15px;
    border-radius:17px;
    font-family: 'Playfair Display';
    font-style:initial;
    position:relative;
    display:flex;
    margin:0 15px;
    font-size:20px;
    left:900px;
    right: 50%;
    bottom:100px;
}
button:hover{
    color:white;
    background:#850E35;
    padding:15px;
    border-radius:17px;
}
